body {
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63641.jpg?w=360");
  background-repeat: no-repeat;
  background-size: cover;
}

.alltop {
  margin-top: 6%;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  background-color: #b22222;
  top: 0;
  width: 100%;
  z-index: 1;
}

.isi-dr:hover {
  background-color: #b22222 !important;
  color: white !important;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.descHero {
  text-align: justify;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

/*-----------------------------------*\
  #CARDMENU
\*-----------------------------------*/

.card-img-top {
  width: 100%;
  object-fit: contain;
  padding: 15px;
}

.card-menu:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  border: 2px solid #b22222;
}

.label-top {
  position: absolute;
  background-color: #b22222;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  width: 15%;
}

.label-top-detail {
  position: absolute;
  background-color: #b22222;
  color: #fff;
  top: 12px;
  right: 12px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  width: 15%;
}

.rating {
  display: flex;
  gap: 5px;
  color: orange;
}

.section-title {
  text-align: center;
  margin-block: 10px 20px;
}

.section-text {
  text-align: center;
  max-width: 48ch;
  margin-inline: auto;
  margin-block-end: 30px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*-----------------------------------*\
  #BUTTONCATEGORY
\*-----------------------------------*/

.category {
  padding-left: 25%;
  padding-right: 25%;
}

.categoryBtn {
  border: 1px solid #b22222;
  color: #b22222;
  background-color: blue;
}

/*-----------------------------------*\
  #CART
\*-----------------------------------*/

span.price {
  float: right;
  color: grey;
}

/*-----------------------------------*\
  #FORM ADD
\*-----------------------------------*/

.form-group,
label {
  padding: 6px;
}

/*-----------------------------------*\
  #MENUDETAIL
\*-----------------------------------*/

.hr {
  color: #b22222;
}

.menuDesc {
  text-align: justify;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

/*-----------------------------------*\
  #CONTENTHOME
\*-----------------------------------*/

li {
  list-style: none;
}

.promo-card {
  background-color: white;
  text-align: center;
  padding: 40px 30px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.promo-card .card-text {
  margin-top: 25px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.promo-card:hover {
  background-color: #b22222;
}

.promo-card:hover :is(.card-title, .card-text) {
  color: white;
}

/*-----------------------------------*\
  #SCROLLTOTOP
\*-----------------------------------*/

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background: #b22222;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  border: none;
}

/*-----------------------------------*\
  #PROFILE
\*-----------------------------------*/

.header-profile {
  box-shadow: 0 5px 15px -8px rgba(161, 28, 28, 0.24),
    0 8px 10px -5px rgba(136, 35, 35, 0.2);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
  background-color: #b22222;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  line-height: 2rem;
  margin-top: 20px;
}
